---
layout: layout.liquid
title: 11ty Boilerplate
---

<h2>Name Generator</h2>
<div x-data="namePicker">
    <h1>Current Name: <span x-text="showName"></span></h1>
    <button class='btn btn-info' @click="pickName">Pick a Random Name</button>
</div>